{{define "index"}}
<!DOCTYPE html>
<html>
	<head>
		<title>Web-tools - index</title>
		<link rel="stylesheet" href="/resources/style.css">
	</head>
	<body>
		<nav>
    <h1>
  	<a href="/next">Next</a>
    <hr>
  	<a href="/prev">Prev</a>
    <hr>
  	<a href="/pause">Pause</a>
    </h1>
		</nav>
	</body>
</html>
{{end}}
