{{define "index"}}<!DOCTYPE html>
<html>
    <head>
        <title>web-player</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta charset="utf-8">
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="/resources/css/materialize.min.css" media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="/resources/css/custom.css" media="screen,projection"/>
    </head>
    <body>
        <nav class="blue darken-3">
            <div class="container">
                <ul class="right hide-on-med-and-down">
                    <li><a class="change-theme" data-theme="light" href="#!">Light Theme</a></li>
                    <li><a class="change-theme" data-theme="dark" href="#!">Dark Theme</a></li>
                </ul>
                <ul id="slide-out" class="side-nav">
                    <li><a class="change-theme" data-theme="dark" href="#!">Dark Theme</a></li>
                    <li><a class="change-theme" data-theme="light" href="#!">Light Theme</a></li>
                </ul>
                <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">settings</i></a>
            </div>
        </nav>
        <div class="row">
            <div class="col s12 m4 offset-m4 l4 offset-l4">
                <div class="card">
                    <div class="card-image">
                        <img src="http://lorempixel.com/g/540/400/abstract/">
                        <span  id="titulos-cancion" class="card-title">Titulo de la Canción<br><small>Artista</small></span>
                    </div>
                    <div class="card-content">
                        <a class="btn-floating btn-large waves-effect waves-light blue darken-3 right" id="btn-play-pause"><i class="material-icons">pause</i></a>
                        <p>Volumen:</p>
                        <p class="range-field" id="control-volumen">
                            <input type="range" id="valor-volumen" min="0" max="100" />
                        </p>
                    </div>
                    <div class="card-action">
                        <div class="row">
                            <div class="col s4 center"><a class="btn-floating btn-large waves-effect waves-light  blue darken-3" id="btn-prev"><i class="material-icons">skip_previous</i></a></div>
                            <div class="col s4 center"><a class="btn-floating btn-large waves-effect waves-light  red darken-3" id="btn-stop"><i class="material-icons">stop</i></a></div>
                            <div class="col s4 center"><a class="btn-floating btn-large waves-effect waves-light  blue darken-3" id="btn-next"><i class="material-icons">skip_next</i></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="/resources/js/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="/resources/js/materialize.min.js"></script>
        <script type="text/javascript" src="/resources/js/custom.js"></script>
    </body>
</html>
{{end}}
